body {
  font-family: Roboto, sans-serif;
}

section {
  width: 40%;
  height: 100%;
  margin: 15% auto;
  text-align: center;
}

p {
  padding: 15px 0;
}

.el-btn {
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  font-size: 2em;
  font-weight: 900;
  color: #333;
  background: transparent;
  border: 3px solid #333;
  box-shadow: 5px 5px 0 #999;
  transition: color 0.25s ease-in-out 0.25s;
}

.el-btn:visited {
  color: #333;
}

.el-btn:hover {
  color: #999;
}
